.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: transparent;

  &__menu-icon {
    display: none;
    cursor: pointer;
    color: #e1e1e1;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 1.5rem;

      li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: #e1e1e1;
        font-size: 1rem;

        &.active {
          font-weight: bold;
          border-bottom: 2px solid #00d9ff;
          color: #00d9ff;
          border: 1px solid #00d9ff;
          border-radius: 2rem;
          padding: 0.2rem 1rem;

          &::before {
            display: none;
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #00d9ff;
          transition: width 0.7s ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }

    &.open ul {
      display: flex;
      position: absolute;
      align-items: center;
      top: 60px;
      left: 0;
      width: 30%;
      border: 1px solid #e1e1e1;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 100;
    }
  }

  /* Responsividade */
  @media (min-width: 250px) and (max-width: 459px) {
    & {
      justify-content: space-between;
    }

    &__menu-icon {
      display: block;
    }

    &__nav {
      ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
      }

      &.open ul {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        width: 30%;
      }

      li a {
        font-size: 1.2rem;
        color: #e1e1e1;

        &:hover {
          color: #00d9ff;
        }
      }
    }
  }

  @media (min-width: 460px) and (max-width: 963px) {
    & {
      justify-content: space-between;
    }

    &__menu-icon {
      display: block;
    }

    &__nav {
      ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
      }

      &.open ul {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        width: 30%;
      }

      li a {
        font-size: 1.2rem;
        color: #e1e1e1;

        &:hover {
          color: #00d9ff;
        }
      }
    }
  }
}
